{% extends "mainscreen/base.html" %}

{% block title %}{{ evenement.naam }} | Evenement | UBR|V-Lab{% endblock %}

{% block navbar %}
<nav class="breadCrumbNav">
  <span class="assistive">U bevindt zich hier:</span>
  <a href="https://www.ubrijk.nl/organisatie/ubr/over-ubr/ubr-v-lab">UBR|V-Lab</a>
  <a href="/evenementen">Evenementen</a>
  <span class="assistive">{{ evenement.naam }}</span>
</nav>
{% endblock %}

{% block content %}
<div id="content" class="article">
  <h1 class="news">{{ evenement.naam }}</h1>
  <p class="article-meta">Event | {{ evenement.start_datum|date:"d-m-Y" }}</p>
{% if evenement.intro %}
  <div class="intro">
    <p>{{ evenement.intro }}</p>
  </div>
{% endif %}
{{ evenement.omschrijving|safe }}
</div>
{% if perms.evenementen.change_evenement %}
<div id="aside">
  <div class="brick linkBlock">
    <h2>Beheer</h2>
    <ul class="common">
      <li>
        <a href="{% url 'evenementen:evenement_wijzig' evenement.slug %}" class="common">Evenement wijzigen</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}
